###########parent project############
/target/
/.settings/
/.classpath
/.project
.DS_Store

## businessdomain module
/businessdomain/target/
/businessdomain/.settings/
/businessdomain/.classpah
/businessdomain/.project
/businessdomain/.DS_Store

## infraesctructuradomain module
/infraesctructuradomain/target/
/infraesctructuradomain/.settings/
/infraesctructuradomain/.classpah
/infraesctructuradomain/.project
/infraesctructuradomain/.DS_Store

## businessdomain's childs
/businessdomain/customer/target/
/businessdomain/customer/.settings/
/businessdomain/customer/.classpah
/businessdomain/customer/.project
/businessdomain/customer/.DS_Store

/businessdomain/products/target/
/businessdomain/products/.settings/
/businessdomain/products/.classpah
/businessdomain/products/.project
/businessdomain/products/.DS_Store

/businessdomain/transactions/target/
/businessdomain/transactions/.settings/
/businessdomain/transactions/.classpah
/businessdomain/transactions/.project
/businessdomain/transactions/.DS_Store

## infraesctruturadomain's childs
/infraesctructuradomain/eurekaserver/target/
/infraesctructuradomain/eurekaserver/.settings/
/infraesctructuradomain/eurekaserver/.classpah
/infraesctructuradomain/eurekaserver/.project
/infraesctructuradomain/eurekaserver/.DS_Store

/infraesctructuradomain/configserver/target/
/infraesctructuradomain/configserver/.settings/
/infraesctructuradomain/configserver/.classpah
/infraesctructuradomain/configserver/.project
/infraesctructuradomain/configserver/.DS_Store
